extends layout

block content
  .layout
    .container
      .left-pane
        .logo
      .main
        .ping-pong
        .contacts
          a(href= behance target="_blank")
            .contacts-item.behance
          a(href= mailto)
            .contacts-item.gmail
          a(href= instagram target="_blank")
            .contacts-item.instagram
          a(href= facebook target="_blank")
            .contacts-item.facebook

