doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/normalize.css')
    link(rel='stylesheet', href='/styles/style.css')

  body
    block content
    //- script(src="/js/analytics.js")
    script(src="/js/bundle.js")
